# Data Science Tools and Ecosystem

## Author
Alex Smith

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List Data Science Libraries
- List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. SQL
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas

| Data Science Tools |
|:--------:|
|  MySQL   |
|  PostgreSQL   |
|  MongoDB   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335